@import-normalize;

:root {
  background: #2c2c2c;
  z-index: -100;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding: 0;
}

.Main-UI {
  width: 300px;
  min-height: 475px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}

.PM-Content {
  width: 290px;
  height: 390px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PM-img-Container {
  width: 125px;
  height: 125px;
  background: rgb(207, 207, 207);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  outline: 2px solid #222222;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.Pokeform {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  height: 125px
}

.Abiform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 210px;
  margin-left: 10px;
  margin: auto;
}

.Label {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 1px;
  margin-top: 9px;
  margin-right: 80px;
}

.Ability-Label {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.Nickname-Input {
  width: 151px;
  height: 40px;
  margin-top: 20px;
  background: #222222;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Racing Sans One', cursive;
  color:antiquewhite;
  font-size: 20px;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
}

.Species-Select {
  width: 125px;
  height: 20px;
  margin-top: 20px;
  background: #222222;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Hind Madurai', sans-serif;
  color:antiquewhite;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
}

.Ability-Select {
  width: 125px;
  height: 20px;
  background: #222222;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Hind Madurai', sans-serif;
  color:antiquewhite;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  border-radius: 7px
}

.Moves {
  width: 275px;
  height: 150px;
  display:grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  background-color:#222222;
  margin-top: 2px;
  border-radius: 8px;
}

.Move {
  width: 120px;
  height: 50px;
  background-color:#d4d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  outline: 2px solid #686868;

  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
}

.Deselected {
  opacity: 50%;
  pointer-events: none;
  scale: 0.90;
  transition: .2s
}

.Deselected-No-Scale {
  opacity: 50%;
  pointer-events: none;
  transition: .2s
}

.Selected {
  scale: 1.05;
  pointer-events: none;
}

.Save {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Save-Button {
  height: 30px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Hind Madurai', sans-serif;
  color:antiquewhite;
  background-color:#222222;
  font-size: 15px;
  border-radius: 7px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
}

.LM-Content {
  width: 290px;
  height: 390px;
  margin-top: 5px;
  background-color: #222222;
}

.Pokemon-Maker {
  background-image: linear-gradient(60deg, #f07474,#ffae45);
  transition: .2s
}

.League-Maker {
  background-image: linear-gradient(60deg, #749bf0,#c39cd4);
  transition: .2s
}

.Navbar {
  background: #222222;
  width: 100px;
  height: 40px;
  border-radius: 0px 0px 7px 7px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.svg {
  display: block;
  margin: auto;
}

.Navbar-Item {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Nav-Anim {
  position: absolute;
  z-index: 0;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav-Content {
  z-index: 1;
  pointer-events: none;
}

.Navbar-Widget {
  background: #222222;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 530px;
  color: rgb(23, 23, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  position: fixed;
}

.Box {
  background: #753d3d;
  min-width: 300px;
  min-height: 475px;
  max-width: 300px;
  max-height: 475px;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
  transition: .4s
}

.Boxed-Mon-Container {
  width: 270px;
  height: 160px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y:auto;
}

.Boxed-Mon-Container::-webkit-scrollbar {
  width: 25px;
}

.Boxed-Mon {
  max-width: 240px;
  max-height: 50px;
  min-width: 240px;
  min-height: 50px;
  border-radius: 8px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Box-Mon-Img-Container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
  background: rgb(207, 207, 207);
  outline: 1.5px solid #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Box-Mon-Img{
  max-width: 140%;
  margin-bottom: 14px;
}

.Name-And-Nickname{
  width: 100px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4px;
}

.Box-Button-Container{
  width: 80px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4px;
  justify-content: space-evenly;
}

.Nickname {
  font-family: 'Racing Sans One', cursive;
  color:antiquewhite;
  font-size: 16px;
}

.Species {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  color:antiquewhite;
  font-size: 9px;
}

.Edit-Button {
  height: 15px;
  width: 70px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Hind Madurai', sans-serif;
  color:#222222;
  background-color: rgb(207, 207, 207);;
  font-size: 12px;
  border-radius: 7px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
}

.Box-Footer {
  background: antiquewhite;
  width:300px;
  min-height:30px;
  z-index: 2;
  margin-top: -30px;
  border-radius: 0px 0px 8px 8px;
}

.Move-Down {
  margin-top: 500px;
}

.Move-Finder {
  background: linear-gradient(60deg, #ffae45, #f07474);
  min-width: 300px;
  min-height: 300px;
  margin-left: 650px;
  border-radius: 8px;
  position: absolute;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: .2s;
}

.Move-Container {
  overflow-y:auto;
  width: 300px;
  height: 240px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  flex-direction: column;
  gap: 5px;
}

.Listed-Move {
  width: 230px;
  min-height: 25px;
  outline: 2px solid #222222;
  margin: 2px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  color: rgb(23, 23, 23);
}

.Push {
  margin-left: 28px;
}

.Move-Container::-webkit-scrollbar {
  width: 25px;
  
}

::-webkit-scrollbar-thumb {
  background: #22222284;
  overflow: overlay;
  width: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  opacity: 50%;
  border-radius: 7px;
}


.Move-Search {
  width: 240px;
  height: 30px;
  margin-top: 20px;
  background: #222222;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Hind Madurai', sans-serif;
  color:antiquewhite;
  font-size: 20px;
  text-align: center;
  border-radius: 7px
}

.Mon-Search {
  width: 240px;
  height: 20px;
  margin-top: 240px;
  background: #222222;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Hind Madurai', sans-serif;
  color:antiquewhite;
  font-size: 17px;
  text-align: center;
  border-radius: 7px
}

.Gone {
  pointer-events: none;
  opacity: 0%;
  transition: .2s;
}

.TypeColors {
  background-color: #A8A878; /* normal */
  background-color: #C03028; /* fighting */
  background-color: #A890F0; /* flying */
  background-color: #9D3A9D; /* poison */
  background-color: #E0C068; /* ground */
  background-color: #B8A038; /* rock */
  background-color: #A8B820; /* bug */
  background-color: #705898; /* ghost */
  background-color: #B8B8D0; /* steel */
  background-color: #F08030; /* fire */
  background-color: #6890F0; /* water */
  background-color: #78C850; /* grass */
  background-color: #F8D030; /* electric */
  background-color: #F85888; /* psychic */
  background-color: #98D8D8; /* ice */
  background-color: #7038F8; /* dragon */
  background-color: #705848; /* dark */
  background-color: #DEA5DE; /* fairy */


}